################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TrackService/bin/Debug/netcoreapp3.1
/TrackService/obj
/.vs/TrackService
/.vs
/TrackService.UnitTest/bin/Debug/netcoreapp3.1
/TrackService.UnitTest/obj
/TrackService.RethinkDb_Abstractions/obj
/TrackService.RethinkDb_Abstractions/bin/Debug/netcoreapp3.1
/TrackService.RethinkDb_Changefeed/bin/Debug/netcoreapp3.1
/TrackService.RethinkDb_Changefeed/obj
/SignalR_SenderClient/obj
/SignalR_SenderClient/bin/Debug/netcoreapp3.1
/Sender/obj
/Sender/bin
/Receiver/obj
/Receiver/bin

/ReceiverClient/obj
/SenderClient/obj
/ReceiverClient/bin/Debug/netcoreapp3.1
/SenderClient/bin/Debug/netcoreapp3.1
/APIGateway/bin/Debug/netcoreapp3.1
/APIGateway/obj
/ArchiveTrackService/bin/Debug/netcoreapp3.1
/ArchiveTrackService/obj
/SynchronizeManager/obj
/SynchronizeManager/bin/Debug/netcoreapp3.1
/VehicleService/bin/Debug/netcoreapp3.1
/VehicleService/obj
/obj/Docker
